.Filters {
  margin-top: 5px;
  text-align: center;
  border: solid 1px black;
  padding: 30px;
  position: fixed;
  z-index: 2;
  background-color: white;
  width: 760px;
}
.Filters label {
  position: absolute;
  top: -15px;
  left: 330px;
  background: white;
  padding: 5px;
}

.btn-toolbar {
  margin: 0 auto;
  width: 561px;
}

.btn {
  height: 40px;
}

.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
  color: #333;
  background-color: #9a9a9a;
  border-color: #5f5f5f;
}
